body{
  margin: 0px;
}
.flex1{
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url("./images/image-hero-desktop.jpg");
  height: 400px;

}
.flex1b{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 150px;
  box-sizing: border-box;
  margin-top: 25px;
}
.flex1b > * {
  display: flex;
  align-items: center;
}
.flex1b > * > * {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 100%;
}
.flex1b p {
  margin-left:25px;
}